<?xml version="1.1" encoding="UTF-8"?>
<slave>
    <name>{{ ipv4 }}</name>
    <description></description>
    <remoteFS>/home/ec2-user</remoteFS>
    <numExecutors>1</numExecutors>
    <mode>EXCLUSIVE</mode>
    <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
    <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.2">
        <host>{{ ipv4 }}</host>
        <port>22</port>
        <credentialsId>JenkinsCreds-{{ ipv4 }}</credentialsId>
        <maxNumRetries>10</maxNumRetries>
        <retryWaitTime>15</retryWaitTime>
        <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
        <tcpNoDelay>true</tcpNoDelay>
    </launcher>
    <label>worker</label>
    <nodeProperties/>
</slave>